@model IEnumerable<WebbDejt2.Models.ApplicationUser>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Webbdejt</h1>
    <p class="lead">Date me!</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Random users</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>